{
    "printWidth": 140,
    "trailingComma": "all",
    "tabWidth": 2,
    "semi": true,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "singleQuote": true,
    "vueIndentScriptAndStyle": true,
    "endOfLine": "lf",
    "jsxBracketSameLine": true,
    "htmlWhitespaceSensitivity": "ignore"
  }